/* COVID BANNER */
/* .covid-banner {
    padding: 10px;
    background: #33a500;
    color: #fff;
    text-align: center;
}


.covid-banner h3 {
    display: inline-block;
    margin: 0;
    padding: 10px 0 0 80px;
    font: 700 1.125em/1em 'Roboto', Verdana, Sans-serif;
    text-align: left;
    background: url(./../../assets/shield.png) no-repeat left center;
}

.covid-banner h3 span {
    display: block;
    font: 700 2.66em/1em Arial, sans-serif;
}

.covid-banner h3 a {
    font: inherit;
    color: #fff;
    text-decoration: underline;
} */